.ml-10 {
  margin-left: 10px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-42 {
  margin-left: 42px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-31 {
  margin-right: 31px;
}
.mr-42 {
  margin-right: 42px;
}
.mt-10 {
  margin-top: 10px;
}
