.artista {
  display: grid;
  /* width: 400px; */
  width: 31.67vw; /* 400px */
  height: 23.75vw; /* 300px */
  box-sizing: border-box;
}
.artista_grande {
  display: grid;
  /* width: 600px;
  height: 400px; */
  width: 47vw;
  height: 31.67vw;
  box-sizing: border-box;
}
.imagem {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  /* height: 300px; */
  width: 31.67vw;
  height: 23.75vw;
}
.imagem_grande {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  /* width: 600px;
  height: 400px; */
  width: 47.5vw;
  height: 31.67vw;
}
.dados {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: linear-gradient(to right, rgba(15, 16, 17, .5), rgba(15, 16, 17, .6));
  box-sizing: border-box;
}
