.container-musica {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
}
.container-dados-musica {
  display: flex;
}
.imagem-artista {
  border-radius: 50%;
}
.dados-musica {

}
.brd-top {
  border-top: 2px solid #FFF;
}
.brd-botm {
  border-bottom: 2px solid #FFF;
}